.you--audio::-webkit-media-controls-panel {
	background-color: #008FF5;
	padding: 4px 4px 0px;
}

.me--audio::-webkit-media-controls-panel {
	background-color: #f2f2f2;
	padding: 4px 4px 0px;
	color: white;
}

audio::-webkit-media-controls-mute-button {
	display: none !important;
}

audio::-webkit-media-controls-volume-slider {
	display: none !important;
}