.bubble-container {
	display: flex;
	font-family: "Poppins";
	font-size: 12px;
	align-items: flex-end;
	margin-top: 4px;
    margin-bottom: 12px;
}

.bubble-direction-reverse {
	flex-direction: row-reverse;
}

.bubble {
	background-color: #f2f2f2;
	border-radius: 8px;
	box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.24);
	display: block;
	padding: 8px 12px 4px;
	position: relative;
	vertical-align: top;
	word-wrap: break-word;
	color: rgba(0, 29, 61, 0.92);
}

.bubble::before {
	content: "\00a0";
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 24px 0 0px 24px;
	transform: rotate(0deg);
    bottom: 2px;
}

.me {
	background-color: #ece5dd;
	margin-left: 18px;
	margin-right: 60px;
}

.me::before {
	left: -18px;
    transform: rotate(-90deg);
	border-color: transparent transparent transparent #ece5dd;
    border-radius: 24px 0px 0px 0px;
}

.you {
	background-color: #dcf8c6;
	margin-left: 60px;
	margin-right: 18px;
}

.you::before {
	right: -16px;
	border-color: transparent transparent transparent #dcf8c6;
    border-radius: 0px 0px 24px 0px;
}

.bubble-jump {
	margin-bottom: 4px;
	margin-left: 42px;
}

.bubble-jump-reverse {
	margin-bottom: 4px;
	margin-right: 42px;
}

.bubble-jump-reverse .you::before {
	display: none;
}

.bubble-jump .me::before {
	display: none;
}
