/*V1*/
.editor{
	background-color: #E0E0E0;
	min-height: 200px;
	border-radius: 0px 0px 4px 4px;
	font-family: "Poppins";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	padding-left: 12px;
}
.toolbar{
	border-radius: 4px 4px 0px 0px;
	background-color: #E0E0E0;
	margin: -1px;
}
.bold{
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	color: #4F4F4F;
	align-items: center;
	height: 30px;
	width: 30px;
	justify-content: center;
	text-align: center;
	display: flex;
	margin-right: 4px;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
}

/*V2*/
.editorV2{
	background-color: white;
	border: 1px solid #E0E0E0;
	border-top: 0px;
	min-height: 200px;
	border-radius: 0px 0px 12px 12px;
	font-family: "Poppins";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	padding: 0px 12px;
}

.toolbarV2{
	padding: 8px 12px;
	border-radius: 12px 12px 0px 0px;
	background-color: #F2F2F2;
	margin-bottom: -1px;
	border: 1px solid #E0E0E0;
	border-bottom: 0px;
}
.toolbarV2 .rdw-block-dropdown{
	border-radius: 8px;
	font-family: "Poppins";
	font-size: 14px;
	padding: 0px;
}
.toolbarV2 .rdw-block-dropdown:hover{
	box-shadow: none;
}
.toolbarV2 .rdw-block-dropdown a{
	padding: 0px 12px;
}
.toolbarV2 .rdw-block-dropdown ul{
	border-radius: 8px;
	margin-top: 4px;
	border-bottom: 1px solid #E0E0E0;
	box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.1);
}
.toolbarV2 .rdw-block-dropdown ul:hover{
	box-shadow: none;
}
.toolbarV2 .rdw-block-dropdown li{
	border-bottom: 1px solid #E0E0E0;
	padding: 6px 12px;
}

.boldV2{
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	color: #000000C7;
	align-items: center;
	height: 32px;
	width: 32px;
	justify-content: center;
	text-align: center;
	display: flex;
	margin-right: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.boldV2:hover{
	background-color: white;
}