/* Basic editor styles */
.tiptap {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	background-color: white;
	border: 0px;
	outline: 0px;
	padding: 16px 24px;

	:focus {
		outline: none !important;
	}
	:first-child {
		margin-top: 0;
	}

	/* Heading styles */
	h1 {
		font-size: 1.4rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1.1rem;
	}
}

.toolbar {
	.is-active {
		background-color: #f0f3f6;
	}
}
