.quill h1 {
	font-size: 24px !important;
	color: rgba(0, 29, 61, 0.92);
	font-weight: 600;
}

.quill h2 {
	font-size: 18px !important;
	color: rgba(0, 29, 61, 0.92);
	font-weight: 600;
}

.quill p {
	font-size: 15px !important;
	color: rgba(0, 29, 61, 0.92);
}

.ql-container {
	background: white;
}

.ql-toolbar {
	display: block;
	background: rgba(0, 29, 61, 0.04);
	height: 48px;
	position: relative;
}

.ql-editor {
	padding: 40px 48px;
}

.ql-editor.ql-blank::before {
	right: 48px;
	left: 48px;
	font-size: 15px;
	font-style: normal;
}

/*--------------------------------custom header--------------------------------*/

.ql-formats span[data-value="1"]::before {
	content: "Título" !important;
	font-size: 24px;
	font-weight: 600;
}

.ql-formats span[data-value="2"]::before {
	content: "Subtítulo" !important;
	font-size: 18px;
	font-weight: 600;
}

/*------------------------------------theme------------------------------------*/
.ql-toolbar.ql-snow {
	border: none;
}

.ql-container.ql-snow {
	border: none;
}

/*Toolbar buttons*/
.ql-snow {
	font-family: "Poppins";
}

.ql-snow.ql-toolbar button {
	padding: 6px;
	height: unset;
	width: unset;
	border-radius: 40px;
}
.ql-snow.ql-toolbar button .ql-stroke {
	stroke: rgba(0, 29, 61, 0.92);
}

.ql-snow.ql-toolbar button:hover {
	background-color: rgba(0, 29, 61, 0.04);
	stroke: rgba(0, 29, 61, 0.92);
}

.ql-snow.ql-toolbar button .ql-stroke:hover {
	stroke: rgba(0, 29, 61, 0.92);
}

.ql-snow.ql-toolbar button.ql-active {
	background-color: rgba(0, 29, 61, 0.14);
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke {
	stroke: rgba(0, 29, 61, 0.92);
}

.ql-snow.ql-toolbar button svg {
	height: 20px;
	width: 20px;
}

/*Toolbar span*/
.ql-snow .ql-picker {
	padding: 6px;
	border-radius: 40px;
	height: unset;
	width: 120px !important;
	font-family: "Poppins";
}

.ql-snow .ql-picker .ql-header {
	font-size: 15px !important;
	font-weight: 400;
}

.ql-snow .ql-picker:hover {
	background-color: rgba(0, 29, 61, 0.04);
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	border: none;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	border: 1px solid rgba(0, 29, 61, 0.1);
	border-radius: 12px;
	padding: 0px;
	text-align: center;
	top: 0px;
	z-index: 2;
	overflow: hidden;
	width: 125px;
}

.ql-snow.ql-toolbar .ql-picker-item:hover {
	background-color: rgba(0, 29, 61, 0.04);
	color: rgba(0, 29, 61, 0.92);
}
.ql-snow.ql-toolbar .ql-picker-label:hover {
	color: rgba(0, 29, 61, 0.92);
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active::before {
	color: rgba(0, 29, 61, 0.92);
}

/*-----------------------------------------------------------RESPONSIVE-----------------------------------------------------------*/
@media only screen and (max-width: 450px) {
	.quill h1 {
		font-size: 22px !important;
	}
	
	.quill h2 {
		font-size: 16px !important;
	}
	
	.quill p {
		font-size: 14px !important;
	}

	.ql-editor {
		padding: 32px 24px;
	}

	.ql-editor.ql-blank::before {
		right: 24px;
		left: 24px;
	}

	.ql-toolbar-tips-button {
		display: none;
	}

	.ql-snow .ql-picker {
		width: 105px !important;
	}

	.ql-toolbar.ql-snow .ql-formats {
		margin-right: 4px;
	}

	.ql-formats span[data-value="1"]::before {
		font-size: 22px;
	}
	
	.ql-formats span[data-value="2"]::before {
		font-size: 16px;
	}

	.ql-snow .ql-picker-label{
		padding: 0px;
	}
}
