.fcc__container {
	--fcc-flip-duration: 0.3s;
	--fcc-digit-block-width: 24px;
	--fcc-digit-block-height: 36px;
	--fcc-digit-font-size: 28px;
	--fcc-background: white;
	--fcc-digit-color: #008ff5;
	--fcc-divider-color: #f9f6f3;
	--fcc-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}

.fcc__container {
	font-family: "Poppins";
	font-size: var(--fcc-digit-font-size);
	color: var(--fcc-digit-color);
	line-height: 0;
	font-weight: 500;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
	display: flex;
	align-items: center;
}

.fcc__digit_block_container .fcc__digit_block:not(:last-child) {
	margin-right: 2px;
}

.fcc__digit_block_container {
	position: relative;
	display: flex;
	align-items: center;
}

.fcc__digit_block {
	perspective: 200px;
	position: relative;
	width: var(--fcc-digit-block-width);
	height: var(--fcc-digit-block-height);
	box-shadow: var(--fcc-shadow);
	border-radius: 6px;
    border: 1px solid var(--fcc-divider-color);
}

.fcc__current_below,
.fcc__next_above {
	position: absolute;
	width: 100%;
	height: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background: var(--fcc-background);
}

.fcc__next_above {
	align-items: flex-end;
	top: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid var(--fcc-divider-color);
}

.fcc__current_below {
	align-items: flex-start;
	bottom: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.fcc__card {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 50%;
	transform-style: preserve-3d;
	transform-origin: bottom;
	transform: rotateX(0);
}

.fcc__card.fcc__flipped {
	transition: transform var(--fcc-flip-duration) ease-in-out;
	transform: rotateX(-180deg);
}

.fcc__card_face {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	backface-visibility: hidden;
	background: var(--fcc-background);
}

.fcc__card_face_front {
	align-items: flex-end;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid var(--fcc-divider-color);
}

.fcc__card_face_back {
	align-items: flex-start;
	transform: rotateX(-180deg);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
