.datepicker {
	font-family: "Poppins";
	font-size: 16px;
}

.datepicker.default {
	background-color: #fff;
	border-radius: 12px 12px 0px 0px;
}

.datepicker .datepicker-content {
	padding: 24px 16px 16px;
}

.datepicker.default .datepicker-wheel {
	background-color: rgba(0, 29, 61, 0.04);
	border: none;
}

.datepicker.default .datepicker-wheel li {
	color: rgba(0, 29, 61, 0.92);
    font-size: 20px;
}

.datepicker.default .datepicker-navbar-btn {
	color: rgba(0, 29, 61, 0.56);
    font-weight: 500;
    line-height: unset;
    height: unset;
    padding: 12px 20px;
    border-radius: 80px;
}

.datepicker.default .datepicker-navbar-btn:nth-of-type(1) {
	background-color: #008FF5;
    color: white;
    padding: 12px 36px;
    border-radius: 80px;
}

.datepicker .datepicker-col-1 {
	margin: 0px;
}

.datepicker .datepicker-navbar {
    box-shadow: 0px -1px 0px 0px var(--border-clear-neutral-soft, rgba(0, 29, 61, 0.10));
	padding: 16px 16px 24px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
